.HomePage {
    background-color: rgb(17, 16, 16);
    background-image: url('https://wallpaperaccess.com/full/1767833.jpg');
  }

.StandingsTable{
  width: 80%;
}
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    
  }
  
  .spacing {
    height: 20px;
  }

  .Footer {
    background-color: #cf7412;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  