.HomePage {
    background-color: rgb(19, 18, 18);
}

.StandingsTable{
  width: 80%;
}
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .spacing {
    height: 20px;
  }