/* .NavbarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 20px;
    background-color: #090909;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 80px;
    border-radius: 5px;
    top: 40px;
    padding-left: 55px;
    color: #dd7f1b;
}
 .nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap:70px;
    list-style: none;
    align-items:center;
    text-align: center;
    justify-content: end;
 }

 .nav-links{ 
    text-decoration: none;
    color: #fff;
    padding: 0.7rem;
 }
 */

 .NavbarItems{
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.2rem;
   padding: 0 20px;
   background-color: #cf7412;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
   width: 100%;
   height: 80px;
   border-radius: 5px;
   top: 40px;
   padding-left: 55px;
   color: #141413;
}

.logo {
   font-size: 2rem;
   font-weight: bold;
   color: #0f0e0e;
   text-decoration: none;
   display: flex;
   align-items: center;
}

.logo i {
   margin-right: 0.5rem;
}

.nav-menu{
   display: grid;
   grid-template-columns: repeat(6,auto);
   grid-gap: 70px;
   list-style: none;
   align-items:center;
   text-align: center;
   justify-content: end;
   margin-right: 55px;
}

.nav-links{ 
   text-decoration: none;
   color: #e8e1e1;
   padding: 0.7rem;
   transition: all 0.3s ease;
}

.nav-links:hover {
   background-color: #df8333;
   color: #090909;
}

@media screen and (max-width: 960px) {
   .NavbarItems {
       position: relative;
   }

   .nav-menu {
       display: flex;
       flex-direction: column;
       position: absolute;
       top: 80px;
       left: -100%;
       opacity: 1;
       transition: all 0.5s ease;
       width: 100%;
       justify-content: center;
       background-color: #090909;
   }

   .nav-menu.active {
       left: 0;
       opacity: 1;
       transition: all 0.5s ease;
       z-index: 1;
   }

   .nav-links {
       text-align: center;
       padding: 1rem;
       width: 100%;
       display: table;
   }

   .nav-links:hover {
       background-color: #dd7f1b;
       color: #090909;
       border-radius: 0;
   }
}
