.TeamDashHeaders{
    border: 1px solid black;
    opacity: 1.0;
    
    
}



.TeamDashValues{
    border: 1px solid grey;
    background-color: rgba(87, 89, 88, 0.25);
    
}

.TeamDashValues:hover{
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
    background-color: grey;
}