.UpcomingGames {
    background-color: white;
    text-decoration-color: aliceblue;
    margin-left: 15%;
    margin-right:15%;
    border-top: 1px solid gray;

}

.RecentGameBoxScore{
    background-image: url('https://static.vecteezy.com/system/resources/previews/007/470/301/original/basketball-ball-on-dark-background-3d-render-free-photo.jpg');
    background-size: cover;
    color: white;
}
/*
table {
    table-layout: auto;
    width:100%;
    border: 4px solid dimgray;

    border-collapse: collapse;

}
tr {
    border-bottom: 1px solid dimgray;
    
}
th {
    background: dimgray;
    border-bottom: 1px solid;
}
*/